{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
پروفایل کاربری
{% endblock %}{% endblock %}

{% block main %}
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">پروفایل کاربری</h3>
        </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token%}    
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                        {{ form.username|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="container">
                            <div class="alert alert-warning">
                                <label>گذرواژه</label>
                                <p class="mb-0">برای تغییر گذرواژه <a class="alert-link" href="{% url 'password_change' %}">کلیک</a> کنید.</p>
                          </div>
                        </div>          
                        <div class="form-group col-md-6 mb-0">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.special_user|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.is_author|as_crispy_field }}
                        </div>
                    </div>

                    <button class="btn btn-success">ویرایش اطلاعات</button>
                </form>
            </div>
    </div>
</div>
{% endblock %}

