
<div class="collapse navbar-collapse  py-4" id="navbarResponsive">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:home' %}">خانه</a>
            {% for catagory in catagories %}
                {% if catagory.parent == None %}
                    {% if catagory.children.active %}
                        {% include 'blog/partials/catagory_loop.html'%}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:catagory' catagory.slug %}">{{catagory.title}}</a>
                    </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </li>
    </ul>
    <form class="form-inline px-4 px-lg-5" action="{% url 'blog:search' %}">
        <input type="text" name="q" class="form-control" placeholder="جستجوی متن">
        <button class="btn btn-success" style="padding: 6px; border-radius: 5px; margin-right: 5px;">جستجو</button>
      </form>    
</div>