{% extends 'blog/base.html' %}

{% block title %} | {{article.title}}{% endblock %}

{% block main %}
<style>
    header.masthead {
        background-image: url("{{ article.thumbnail.url }}")
      }
</style>

<!-- Page Header-->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{article.title}}</h1>
                    <time>{{article.jpublish}}</time>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{article.description | linebreaks}}
            </div>
            
        </div>
    </div>
</article>

{% endblock %}