<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <center>
    {% for article in articles%}
    <article>
        <img src="{{article.thumbnail.url}}" alt="" width="600" height="400"> 
        <h1><a href="{{article.slug}}">{{article.title}}</a></h1>
        <small>{{article.publish}}</small>
        <p>{{article.description}}</p>
    </article>
    {% endfor %}
    </center>
</body>
</html>